<!-- app/templates/components/hero.html -->
<section class="hero">
    <div class="hero-content">
        <div class="header-elements">
            <input type="search" class="search-bar" placeholder="Rechercher...">
        </div>
        <h1>Revolutionnez votre Agriculture avec <span class="highlight">AgriVisionCM</span></h1>
        <p>Des prévisions avancées pour des décisions éclairées.</p>
        <div class="cta-buttons">
            <a href="{{ url_for('main.index') }}" class="cta-button login">Se connecter</a>
            <a href="{{ url_for('main.predict') }}" class="cta-button try">Essayer Maintenant</a>
        </div>
    </div>

</section>