<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AgriVisionCM{% endblock %} - AgriVisionCM</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% endblock %}
</head>
<body>
    <header>
        <div class="top-icons">
            <!-- Sélecteur de langue -->
            <select class="language-selector">
                <option value="fr">🇫🇷 Français</option>
                <option value="en">🇬🇧 English</option>
            </select>
        
            <!-- Drapeau du Cameroun -->
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Flag_of_Cameroon.svg" alt="Cameroun" class="flag-icon">

        
            <!-- Icône de notification -->
            <i class="fas fa-bell notification-icon"></i>
        </div>
        
    </header>
    <div class="container">
        {% include 'shared/sidebar.html' %}
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer class="scrolling-footer">
        <div class="scrolling-text">
            <i class="fas fa-leaf"></i> Conçu et développé par Aloys Russel TONFO pour AgriVisionCM 2025 <i class="fas fa-leaf"></i>
        </div>
    </footer>
    {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}
</body>
</html>
