{% extends "base.html" %}
{% block title %}Marché - AgriVisionCM{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css') }}" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<section class="page-title">
    <h1>Bienvenue sur le <span class="highlight">Marché</span> Agricole</h1>
    <p>Découvrez les produits agricoles disponibles ou publiez vos propres produits à vendre.</p>
</section>

<!-- Barre de recherche et filtres -->
<div class="search-filter-container">
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('main.add_product') }}" class="cta-button add-product"><i class="fas fa-plus"></i> Ajouter</a>
    <a href="{{ url_for('main.chat_history') }}" class="cta-button chat-history"><i class="fas fa-comments"></i> Discussions</a>
    {% endif %}
    <input type="text" id="search" placeholder="Rechercher un produit...">
    <button class="filter-button" data-filter="all">Tous</button>
    <button class="filter-button" data-filter="city">Par Ville</button>
    <button class="filter-button" data-filter="price">Par Prix</button>
</div>

<!-- Liste des produits disponibles -->
<section class="products-list">
    <h2>Produits disponibles</h2>
    <div class="product-grid">
        {% for product in products %}
        <div class="product-card" data-city="{{ product.city }}" data-price="{{ product.price }}">
            <img src="{{ url_for('static', filename='uploads/' + product.image) }}" alt="Image du produit">
            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <div class="product-details">
                    <p><i class="fas fa-map-marker-alt"></i> <strong>Ville:</strong> {{ product.city }}</p>
                    <p><i class="fas fa-tag"></i> <strong>PrixOid:</strong> {{ product.price }} FCFA / {{ product.unit }}</p>
                    <p><i class="fas fa-box"></i> <strong>Quantité:</strong> {{ product.quantity }} {{ product.unit }}</p>
                </div>
                <p class="description">{{ product.description[:100] }}...</p>

                <div class="contact">
                    <a href="{{ url_for('main.conversation', user_id=product.user_id, product_id=product.id) }}" class="cta-contact"><i class="fas fa-envelope"></i> Contacter le vendeur</a>                 
                </div>
            </div>
        </div>
        {% else %}
        <p>Aucun produit disponible.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}